# MongoDB Atlas
# Format: mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/DATABASE?retryWrites=true&w=majority
MONGODB_URI=

# Server
PORT=3001
NODE_ENV=development

# Frontend (aggiornare dopo deploy Vercel)
FRONTEND_URL=http://localhost:3000

# JWT (se usi autenticazione)
JWT_SECRET=
